  <h2><%=  stock.symbol%></h2>
<h1>Jello</h1>

<img src="<%=  %>" />

<form method="POST" action="/faves">
  <input hidden name="symbol" value="<%= stockSearch.symbol %>" />
  <input hidden name="" value="<%= %>" />

  <input type="submit" value="fave this stock " />
</form>