<h2><%=  globalquote.symbol%></h2>


<img src="<%=  %>" />

<form method="POST" action="/faves">
  <input hidden name="symbol" value="<%= globalquote.symbol %>" />
  <input hidden name="" value="<%= %>" />

  <input type="submit" value="fave this movie " />
</form>