<h1>Stock Market Search</h1>
<p>Search for a publicly traded company</p>

<form method="GET" action="/users/index">
  <label for="search"></label>
  <input type="text"  id="search" name="stockSearch" />

  <input type="submit" />
</form>

<h2>Hello <%= user.userName %> </h2>
<h3>Some random text to display</h3>