<h1>Stock Market Search</h1>
<p>Search for a publicly traded company</p>

<form method="GET" action="/results">
  <lable for="search"></lable>
  <input type="text"  id="search" name="movieSearch" />

  <input type="submit" />
</form>