<% if (error) { %>
    <em><%= error %></em>
<% } %>
<h2>Please login below:</h2>
<form action="/users/login" method="POST">
    <label for="email">Email:</label>
    <input type="email" name="email" id="email">

    <label for="password">Password:</label>
    <input type="password" name="password" id="password">

    <button type="submit">Log In</button>
</form>

<li><a href="/users/search">Search</a></li>